body {
color: white;
background: rgb(173, 21, 21);
margin: 0px;
}

header{
border-botom:solid  2px rgb(228,42,98);
padding: 20px;
font-size 42px;
color:rgb(228,42,150);
}

.chamada{
background: rgb(240,4,4);
padding-bottom:88px;
padding-top:88px;
display:flex;
justify-content:cente;
}

.chamada-texto{ 
 margin-right:5%;
}